button{
    margin-right: 10px;
    float: left;
}

mat-card{
    border-radius: 10px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    max-width: 400px;
  box-sizing: border-box;
    width: 90%;
    text-align: left;
}

.name{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}


mat-card:hover{
    transform: scale(1.02);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.4);
    transition: transform 0.3s ease;
}


.wideStretch{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}

figure {
    margin-right: 15px;
    height: 90px;
    position: relative;
    float: left;
    overflow: hidden;
}

.float-right{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.search{
    margin: 10px;
    margin-right: 20px;
    right: 0;
    position: fixed;
    top: 56px;
    z-index: 999;
}
