  <div>
    <div class="edit-form">
      <h1><strong>{{pageTitle}}</strong></h1> 

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Codigo</mat-label>
          <input matInput type="number" [(ngModel)]="item.codigo">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="item.descricaoItem">
        </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Pontos</mat-label>
        <input matInput type="number" [(ngModel)]="item.pontos">
      </mat-form-field>

      <div>
        <label for="file">Foto item</label>
        <form enctype="multipart/form-data">
          <input type="file" #fileInput/>
        </form>
      </div>

      <button class="badge badge-danger mr-2" (click)="deleteItem()" *ngIf="currentAction == 'edit'">
        Excluir
      </button>

      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="submitForm()"
      >
        Gravar
      </button>
      <p>{{ message }}</p>
    </div>

  </div>
