  <div>
    <div class="edit-form">
      <h1><strong>{{pageTitle}}</strong></h1> 

      <form>
      <div class="form-group">
        <label for="nomeFuncionario">Nome Funcionario</label>
        <input
          type="text"
          class="form-control"
          id="nomeFuncionario"
          required
          [(ngModel)]="relatorioDeProducao.nomeFuncionario"
          name="nomeFuncionario"
        />
      </div>

      <div class="form-group">
        <label for="codigoItem">Codigo Item</label>
        <input
          type="text"
          class="form-control"
          id="codigoItem"
          required
          [(ngModel)]="relatorioDeProducao.codigoItem"
          name="codigoItem"
        />
      </div>

      <div class="form-group">
        <label for="descricaoItem">Descrição Item</label>
        <input
          type="text"
          class="form-control"
          id="descricaoItem"
          required
          [(ngModel)]="relatorioDeProducao.descricaoItem"
          name="descricaoItem"
        />
      </div>

      <div class="form-group">
        <label for="quantidade">Quantidade</label>
        <input
          type="text"
          class="form-control"
          id="quantidade"
          required
          [(ngModel)]="relatorioDeProducao.quantidade"
          name="quantidade"
        />
      </div>

      <div class="form-group">
        <label for="pontos">Pontos</label>
        <input
          type="text"
          class="form-control"
          id="pontos"
          required
          [(ngModel)]="relatorioDeProducao.pontos"
          name="pontos"
        />
      </div>

      </form>

      <button class="badge badge-danger mr-2" (click)="deleteRelatorioDeProducao()" *ngIf="currentAction == 'edit'">
        Excluir
      </button>

      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="submitForm()"
      >
        Gravar
      </button>
      <p>{{ message }}</p>
    </div>

  </div>
