<div class="list row">
    <div class="col-md-6">
        <mat-form-field appearance="fill" class="search">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="search" (keyup)="getByNome(search)">
          </mat-form-field>      
          <div class="list">
            <mat-card 
            *ngFor="let funcionario of FuncionarioCollection; let i = index"
            [hidden]="funcionario.ativo == false"
            [class.active]="i == currentIndex"
            (dblclick)="setActiveFuncionario(funcionario, i)">
              <mat-card-content>
                <figure><img [src]="funcionario.foto" class="wideStretch"></figure>
                <button mat-fab color="primary" class="float-right" routerLink="/apontamentoDeProducao/{{funcionario.id}}/new">
                    <mat-icon>add</mat-icon>
                  </button>
                <h5 class="name">{{funcionario.nome}}</h5>
              </mat-card-content>
            </mat-card>
          </div>      
    </div>
    <div class="col-md-6">
        <div *ngIf="currentFuncionario.id">
        <a class="badge badge-warning" routerLink="{{ currentFuncionario.id }}/edit">
            Editar
        </a>
        </div>

    </div>

</div>
